# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    #runs-on: windows-latest


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Build Solution
        working-directory: ${{env.GITHUB_WORKSPACE}}
        
        run: msbuild /t:build -m
        #-m alle verfügbaren Kerne
        #msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

      - name: Deploy Solution
      #  working-directory: ${{env.GITHUB_WORKSPACE}}
        
      #  run: sqlpackage /a:Publish /sf:Database1.dacpac /tcs:"Data Source=.\SQLEXPRESS; Initial Catalog=MyApp;Integrated Security=true"
      #  # C:\actions-runner\_work\hello-world\hello-world\Database1\bin\Debug\Database1.dacpac
        run: "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\150\SqlPackage.exe" /Action:Publish /SourceFile:"C:\actions-runner\_work\hello-world\hello-world\Database1\bin\Debug\Database1.dacpac" /TargetConnectionString:"data source=localhost;initial catalog=cw;User ID=sa;Password=Herbst0009"


      # Runs a single command using the runners shell
#      - name: Run a one-line script
#        run: echo Hello, world!

      # Runs a set of commands using the runners shell
#      - name: Run a multi-line script
#        run: |
#          echo Add other actions to build,
#          echo test, and deploy your project.
#      - name: VS Code started
#        run: mkdir xxxxyyyyzzzzaaaa
      
#      - name: Füge Step hinzu
        #run: set PATH=%PATH%;"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin"
 #       shell: cmd
  #      run: echo "aaaaa"
        #$msbuild = "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe"
      
#      - name: Starte Visual Studio Step 1
        #run: MSBuild /t:clean
 #       run: $a = "Database1.sqlproj /t:build"
        #run: $build="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe " + $a

#      - name: x
#        run: $build="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe " + $a

#      - name: Output
#        run: echo $build

#      - name: yy
#        run: echo $a
    #    run: Invoke-Expression $build




#set PATH=%PATH%;"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin"
#msbuild /t:clean
#msbuild /t:build